:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #ecf0f1;
  --text-color: #34495e;
  --error-color: #e74c3c;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

nav {
  background-color: var(--primary-color);
  color: black;
  padding: 10px 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color:var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

h1, h2 {
  color: var(--primary-color);
}

form {
  background-color: white;
  width: 60%;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(34, 161, 252, 0.1);
  margin-bottom: 20px;
  color: black;
}

input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 20px 30px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  color: black;
  border-radius: 4px;
  background-color: aliceblue;
}

button {
  background-color: var(--secondary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #27ae60;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li input[type="checkbox"] {
  margin-right: 10px;
}

li button {
  background-color: var(--error-color);
  font-size: 0.8em;
  padding: 5px 10px;
}

li button:hover {
  background-color: #c0392b;
}